:root,
html,
body,
#root,
.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #353033;
  isolation: isolate;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Label {
  color: var(--chakra-colors-fg);
  font-weight: var(--chakra-font-weights-medium);
  font-size: var(--chakra-font-sizes-sm);
  line-height: 1.25rem;
}